<h1>Joueurs</h1>

<div class="clearfix">
	<div class="right">
		<%= link_to('Ajouter un joueur', new_admin_player_path, class: "button small radius success") %>
	</div>
</div>

<table style="border-collapse: collapse" width="100%">
	<thead>
		<tr>
			<th>Nom / Prénom</th>
			<th>Catégorie</th>
			<th>Date de création</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
		<tr>
			<td><%= player.first_name + " " + player.last_name %> </td>
			<td><%= player.category.category_name %> </td>
			<td><%=  player.created_at.strftime("%m/%d/%Y") %></td>
			<td class="text-right"><%= link_to('Modifier', edit_admin_player_path(player)) %> - <%= link_to "Supprimer", admin_player_path(player), :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @convocations, :page_links => false %>