<nav class="top-bar" data-topbar="" role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="/" alt="Accueil"><%= image_tag "logotype.png", :class => 'top-bar--logo' %></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">

			<li class="divider"></li>
			<li class="<%= currentPath(root_path) %>"><%= link_to t('home.index'), root_path %></li>

			<li class="divider"></li>
			<li class="<%= currentPath(about_path) %>"><%= link_to t('home.about'), about_path %></li>

			<li class="divider"></li>

			<% if user_signed_in? %>
				<% if current_user.superadmin %>
					<li class="<%= currentPath(admin_root_path) %>"><%= link_to t('home.nav_title_admin'), admin_root_path %></li>
				<% end %>
			<li class="divider"></li>
			<li class="has-dropdown not-click"><a href="#"><%= current_user.email %></a>
				<ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
					<li><%= link_to t('users.shared.edit_profile'), edit_user_registration_path %></li>
					<li><%= link_to(t('users.shared.log_out'), destroy_user_session_path, :method => :delete) %></li>
				</ul>
			</li>
			<% else %>
			<li class="<%= currentPath(new_user_session_path) %>" ><%= link_to t('users.shared.log_in'), new_user_session_path %></li>
			<% end %>

		</ul>
	</section>
</nav>
