<nav class="top-bar" data-topbar="" role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="/" alt="Accueil"><svg width="32px" height="32px" viewBox="0 0 45 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					<g id="Artboard-1" sketch:type="MSArtboardGroup" transform="translate(-40.000000, -67.000000)" fill="#EFEFEF">
						<path d="M62.5,67 C50.0929808,67 40,77.0938462 40,89.5 C40,101.907019 50.0929808,112 62.5,112 C74.9070192,112 85,101.907019 85,89.5 C85,77.0938462 74.9070192,67 62.5,67 L62.5,67 Z M83.2692308,89.5 C83.2692308,90.7591346 83.1498077,91.9897115 82.9343269,93.1865385 L80.8063462,89.5 L82.9343269,85.8134615 C83.1498077,87.0111538 83.2692308,88.2417308 83.2692308,89.5 L83.2692308,89.5 Z M82.3458654,83.3713462 L79.3083654,88.6346154 L71.6531731,88.6346154 L67.8255769,82.0057692 L69.7389423,78.6913462 L71.6531731,75.3769231 L77.7091346,75.3769231 C79.8076923,77.6347115 81.4121154,80.3563462 82.3458654,83.3713462 L82.3458654,83.3713462 Z M66.3275962,96.1288462 L58.6724038,96.1288462 L54.8448077,89.5 L58.6724038,82.8711538 L66.3275962,82.8711538 L70.1551923,89.5 L66.3275962,96.1288462 L66.3275962,96.1288462 Z M69.5217308,69.9561538 C71.8721154,70.8033654 74.0234615,72.0625 75.8952885,73.6461538 L71.6531731,73.6461538 L69.5217308,69.9561538 L69.5217308,69.9561538 Z M67.1194231,69.2543269 L70.1551923,74.5106731 L68.2418269,77.8250962 L66.3275962,81.1395192 L58.6724038,81.1395192 L56.7581731,77.8250962 L54.8448077,74.5106731 L57.8805769,69.2551923 C59.3673077,68.9168269 60.9120192,68.7307692 62.5,68.7307692 C64.0879808,68.7307692 65.6326923,68.9168269 67.1194231,69.2543269 L67.1194231,69.2543269 Z M53.3468269,73.6461538 L49.1047115,73.6461538 C50.9756731,72.0625 53.1278846,70.8033654 55.4774038,69.9561538 L53.3468269,73.6461538 L53.3468269,73.6461538 Z M47.2908654,75.3769231 L53.3468269,75.3769231 L55.2610577,78.6913462 L57.1744231,82.0057692 L53.3468269,88.6346154 L45.6916346,88.6346154 L42.6541346,83.3730769 C43.5878846,80.3580769 45.1923077,77.6347115 47.2908654,75.3769231 L47.2908654,75.3769231 Z M41.7307692,89.5 C41.7307692,88.2425962 41.8493269,87.0120192 42.0648077,85.8151923 L44.1936538,89.5 L42.0648077,93.1865385 C41.8493269,91.9897115 41.7307692,90.7591346 41.7307692,89.5 L41.7307692,89.5 Z M42.6541346,95.6269231 L45.6916346,90.3653846 L53.3468269,90.3653846 L57.1744231,96.9942308 L55.2610577,100.308654 L53.3468269,103.623077 L47.2908654,103.623077 C45.1923077,101.365288 43.5878846,98.6436538 42.6541346,95.6269231 L42.6541346,95.6269231 Z M55.4765385,109.044712 C53.1278846,108.1975 50.9756731,106.9375 49.1047115,105.353846 L53.3468269,105.353846 L55.4765385,109.044712 L55.4765385,109.044712 Z M57.8797115,109.745673 L54.8448077,104.489327 L56.7581731,101.174904 L58.6724038,97.8604808 L66.3275962,97.8604808 L68.2418269,101.174904 L70.1551923,104.489327 L67.1202885,109.745673 C65.6326923,110.084904 64.0879808,110.269231 62.5,110.269231 C60.9111538,110.269231 59.3664423,110.084904 57.8797115,109.745673 L57.8797115,109.745673 Z M71.6531731,105.353846 L75.8952885,105.353846 C74.0243269,106.9375 71.8721154,108.198365 69.5225962,109.045577 L71.6531731,105.353846 L71.6531731,105.353846 Z M77.7091346,103.623077 L71.6531731,103.623077 L69.7389423,100.308654 L67.8255769,96.9942308 L71.6531731,90.3653846 L79.3083654,90.3653846 L82.3458654,95.6286538 C81.4121154,98.6436538 79.8076923,101.365288 77.7091346,103.623077 L77.7091346,103.623077 Z" id="Shape" sketch:type="MSShapeGroup"></path>
					</g>
				</g>
			</svg>RailsMyTeam</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">

			<li class="divider"></li>
			<li class="<%= currentPath(root_path) %>"><%= link_to t('home.index'), root_path %></li>

			<li class="divider"></li>
			<li class="<%= currentPath(about_path) %>"><%= link_to t('home.about'), about_path %></li>

			<li class="divider"></li>

			<% if user_signed_in? %>

			<% if current_user.superadmin %>
			<li class="<%= currentPath(admin_root_path) %>"><%= link_to t('users.home.nav_title_admin'), admin_root_path %></li>
			<% end %>

			<li class="divider"></li>
			<li class="has-dropdown not-click"><a href="#"><%= current_user.email %></a>
				<ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
					<li><%= link_to t('users.shared.edit_profile'), edit_user_registration_path %></li>
					<li><%= link_to(t('users.shared.log_out'), destroy_user_session_path, :method => :delete) %></li>
				</ul>
			</li>
			<% else %>
			<li class="<%= currentPath(new_user_session_path) %>" ><%= link_to t('users.shared.log_in'), new_user_session_path %></li>
			<% end %>

		</ul>
	</section>
</nav>
