<p>
	<%= f.label :email %>
	<%= f.email_field :email, size: 40 %>
</p>

<% if @user.new_record? %>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password, size: 40 %>
	</p>

	<p>
		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation, size: 40 %>
	</p>
<% end %>

<p>
	<%= f.label :superadmin %>
	<%= f.check_box :superadmin %>
</p>

<p>
	<%= f.label :categories %>
	<%= select("user", "category_ids", Category.all.collect {|p| [ p.category_name, p.id ] }, {}, { :multiple => true, :class => "select"}) %>
</p>

<p>
	<% if @user.new_record? %>
		<%= f.submit "Créer", :class => "button small success radius" %>
	<% else %>
		<%= f.submit "Mettre à jour", :class => "button small success radius" %>
	<% end %>
</p>