<h1>Catégories</h1>

<div class="clearfix">
	<div class="right">
	<%= link_to('Ajouter une catégorie', new_admin_category_path, class: "button small radius success") %>
	</div>
</div>

<table style="border-collapse: collapse" width="100%">
	<thead>
		<tr>
			<th>Nom de la catégorie</th>
			<th>Date de création</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.category_name %></td>
			<td><%= fa_icon "clock-o" %> <%= category.created_at.strftime("%m/%d/%Y") %></td>
			<td class="text-right"><%= link_to('Modifier', edit_admin_category_path(category)) %> - <%= link_to "Supprimer", admin_category_path(category), :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
