<%= link_to 'Retour à la liste des joueurs' , admin_categories_path, :class => "grey" %>

<h1>Ajouter une nouvelle catégorie</h1>

<%= @category.errors.full_messages.join(",") %>

<%= form_for [:admin, @category] do |f| %>
<%= f.text_field :category_name, placeholder: 'Nom de la catégorie' %>
<%= f.submit "Ajouter", class: "button small radius success" %>
<% end %>