<h1>Équipes</h1>

<div class="clearfix">
	<div class="right">
	<%= link_to('Ajouter une équipe', new_admin_team_path, class: "button small radius success") %>
	</div>
</div>

<table style="border-collapse: collapse" width="100%">
	<thead>
		<tr>
			<th>Équipe</th>
			<th>Date de création</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |cat| %>
		<tr>
			<td><%= cat.category_name %></td>
			<td><%=  cat.created_at %></td>
		</tr>
		<tr>
		<% @teams.each do |team| %>
					<% if team.category_id ==  cat.id %>
					<td><%= team.team_name %> | <%= link_to('Modifier', edit_admin_team_path(team)) %> - <%= link_to "Supprimer", admin_team_path(team), :method => :delete %></td>
					<% end %>
				<% end %>
		<% end %>
		<tr>
	</tbody>
</table>