<%= link_to 'Retour à la liste des joueurs' , admin_teams_path, :class => "grey" %>

<h1>Ajouter une équipe</h1>

<% if @team.errors.any? %>
  <div class="error"> 
    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for [:admin, @team] do |f| %>

	<%= f.label :team_name %>
	<%= f.text_field :team_name, class: 'form-control' %>

	<%= select("team", "category_id", Category.all.collect {|p| [ p.category_name, p.id ] }) %>

	<%= f.submit "Enregistrer", class: "button small radius success" %>
<% end %>