<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>RailsMyTeam</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300' rel='stylesheet' type='text/css'>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
</head>

<body>

	<%= render partial: "partials/navigation" %>

	<div class="menu--bar">
		<div class="row">
			<ul>
				<li><%= link_to "Convocations", admin_convocations_path %></li>
				<li><%= link_to "Catégories", admin_categories_path %></li>
				<li><%= link_to "Equipes", admin_teams_path %></li>
				<li><%= link_to "Joueurs", admin_players_path %></li>
				<li><a href="#" alt="Utilisateurs">Utilisateurs</a></li>
			</ul>
		</div>
	</div>

	<main class="row">
		<%= yield %>
	</main>
</body>
</html>
