<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RailsMyTeam</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row">
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> -
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <a href="/">Home</a> - <%= link_to 'Categories', categories_path %> - <%= link_to "Login", new_user_session_path %>
    <% end %>

    <% if notice %>
    <div class="panel"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="panel"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
