<p><%= t('users.mailer.hello') %> <%= @resource.email %> !</p>

<p><%= t('users.mailer.reset_message') %></p>

<p><%= link_to t('users.mailer.reset_link_to'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('users.mailer.reset_text') %></p>
<p><%= t('users.mailer.reset_last_text') %></p>
