<% content_for :title, t('users.registrations.title_sign_up') %>
<h1><%= t('users.registrations.title_sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<%= f.label :email %>
<%= f.email_field :email, autofocus: true %>

<%= f.label :password %>
<% # if @minimum_password_length %>
<% # @minimum_password_length %>
<% # end %>
<%= f.password_field :password, autocomplete: "off" %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, autocomplete: "off" %>

<%= f.submit t('users.shared.sign_up'), class: "button" %>

<% end %>

<%= render "users/shared/links" %>
